@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair', sans-serif;
}

:root {
    --m1-color: #427D9D;
    --m2-color: #164863;
    --bg1-color: #222831;
    --bg2-color: #393E46;
    --bg3-color: #00ADB5;
    --t1-color: #DDF2FD;
    --t2-color: #9BBEC8;

}

html,body {
    font-size: 100%;
    overflow: auto;
    background-color: var(--bg1-color);
    color: var(--t1-color);
}


header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 60px;

}

header div {
    position: relative;
    width: fit-content;
    top: 10px;
    left: 20px;
    font-size: 40px;
    background-color:var(--bg3-color);
    border-radius: 50px;
    font-weight: 500;
    padding: 5px;
}

header div:hover {
    background-color: var(--t1-color);
}

header div a {
    position: relative;
    color: var(--t1-color);
    border-style: solid 5px;
    padding: 10px;
    transition: color 0.3s ease;
}

header div:hover a {
    color: var(--m2-color);
}

header ul {
    position: relative;
    display: flex;
    top: 10px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: var(--t1-color);
    font-size: 20px;
    margin-right: 100px;
    transition: color 0.3s ease;
}

header ul li:hover a {
    padding: 10px;
    color: var(--m1-color);
    background-color:var(--t1-color);
    border-radius: 50px;
}

header ul li:last-child a {
    margin: 0;
}

header img {
    position: relative;
    border: none;
    transition: backgroundcolor 0.3s ease;
    top: 20px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

header img:hover {
    opacity: 0.5;
}

section {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h4 {
    position: relative;
    font-size: 35px;
    color: var(--t1-color);
    font-weight: 600;


}

section h4 span {
    color: var(--bg3-color);
    text-decoration: underline;
}

section p {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: var(--t1-color);
    margin-top: 8px;


}

section p span {
    color: var(--bg3-color);

}

section img {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10% 10%/ 10% 10%;
}

article h5 {
    display: inline-block;
    margin: 50px 100px;
    border-radius: 12px;
    padding: 10px 15px;
    background: var(--bg2-color);
    color: var(--bg3-color);
    font-weight: 750;
    font-size: 20px;
}

.about {
    display: flex;
    align-items: center;  
    padding: 0 50px;
    gap: 50px;
}

.about img {
    position: relative;
    border-radius: 10px;
    margin-left: 50px;
    width: 200px;
}

.about .info h3 {
    position: relative;
    color: var(--t1-color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p {
    position: relative;
    color: var(--t2-color);
    font-size: 15px;
    font-weight: 540;
    padding-right: 100px;
    max-width: 1010px;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left {
    display: flex;
    align-items: center;  
    padding: 0 50px;
    gap: 50px;

}
.skills .left img {
    position: relative;
    border-radius: 10px;
    width: 200px;
    right: 85px;
}

.skills .left .info h3 {
    position: relative;
    justify-content: center;
    color: var(--t1-color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    right: 80px;
}

.skills .left .info p {
    position: relative;
    color: var(--t2-color);
    font-size: 14px;
    font-weight: 540;
    max-width: 700px;
    right: 80px;
}

.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg2-color);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i{
    font-size: 35px;
    color: var(--t1-color);
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: var(--bg3-color);
    margin-bottom: 20px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: var(--t1-color);
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: var(--t2-color);
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: var(--m2-color);
}

footer .cols .news-col{
    flex: 3;
}

footer .cols .news-col p{
    color: var(--t2-color);
    font-size: 15px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: var(--bg2-color);
    color: var(--t1-color);
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--bg3-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: var(--t1-color);
}

footer .cols .news-col form button i{
    font-size: 26px;
}

@media screen and (max-width: 1100px) {

    .skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    footer{
        margin-top: 150px;
    }

    footer .cols{
        flex-wrap: wrap;
    }

    footer .cols .about-col{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .news-col{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 780px) {
    
    section h4{
        font-size: 24px;
    }

    section p{
        font-size: 36px;
    }

    .about{
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 650px) {
    
    header{
        justify-content: center;
    }

    header h2{
        display: none;
    }

    header ul li a{
        font-size: 14px;
    }

    section{
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    section h4{
        font-size: 20px;
    }

    section p{
        font-size: 28px;
    }

    section img{
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }

    .skills .left .info h3{
        font-size: 20px;
    }

    footer .cols .about-col{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .news-col{
        flex-basis: 100%;
    }

}

@media screen and (max-width: 480px) {
    
    section p{
        font-size: 18px;
    }

}
